*,
html {
    margin: 0;
    padding: 0;
}
.container-navigationbar {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 10vh;
}
.ul-navigationbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navigationbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 100%;
}
#biodata {
    background: red;
    width: 500px;
    height: 500px;
}
.li-navigationbar:hover {
    background-color: tomato;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}
.a-navigationbar {
    color: white;
    text-decoration: none;
    font-weight: 800;

}
.container-content {
    background-color: rgb(255, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.a-content {
    background-color: tomato;
    color:black;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.img-content {
    width: 50%;
    height: 80%;
}
.container-footer {
    height: 10vh;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 100%;
    color: white;
}